<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

th, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

tr:hover {
	cursor: pointer;
}
</style>
</head>
<body>
	<h3>member 페이지</h3>
	<table id="member">
		<tr>
			<th>아이디</th>
			<th>이름</th>
			<th>나이</th>
		</tr>
	</table>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.js"
	integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
	crossorigin="anonymous"></script>
<script type="text/javascript">
callMyAPI();
function callMyAPI() {
	$.ajax({
		url : '/api/v1/members',
		type : 'GET',
		dataType : 'json',
		success : function(response) {
			for (var i = 0; i < response.length; i++) {
				var html = '<tr><td>' + response[i].id + "</td><td>"+ response[i].name + "</td><td>" + response[i].age+ "</td></tr>"
				$('#member').append(html);
			}
		}
	});
}
</script>
</html>